{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- httpss://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="application/ld+json">
  {
  "@context": "httpss://schema.org",
  "@type": "Article",
  "name": "Adriana Rotaru",
  "author": {
    "@type": "Person",
    "name": "Adriana Rotaru"
  },
  "datePublished": "2023-04-30",
  "image": "httpss://adrianarotaru.com/images/profile.png",
  "articleBody": "Hi! Welcome to my profile! I am an enthusiastic young woman in tech, interested in autonomous technology, AI, and green energy research. In the past, I have conductive extensive research in cardiology, and now I am focusing on technology applications in healthcare. I am pursuing a career in autonomous drone delivery and I am an avid supporter of women in tech."
}
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta https-equiv="cleartype" content="on">